<section class="hero is-link is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Ravipanich
      </h1>
      <!-- <h2 class="subtitle">
        Primary subtitle
      </h2> -->
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li class="is-active">
            <a routerLink="/customer/main">Customer</a>
          </li>
          <!--                    
              <li>
                  <a href="http://bulma.io/documentation/modifiers/syntax">Modifiers</a>
              </li>
              <li>
                  <a href="http://bulma.io/documentation/columns/basics">Columns</a>
              </li>
              -->
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- <div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a routerLink="/customers">Customers</a></li>
      <li class="is-active"><a href="#" aria-current="page">Details</a></li>
    </ul>
  </nav>
</div> -->
<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-tabs">
      <a class="navbar-item is-tab " routerLink="/customer/main">
        Main
      </a>        
    </div>
    <div class="navbar-tabs">
      <p class="navbar-item is-tab is-active">Profile</p>      
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">

    <form [formGroup]="customerForm" (ngSubmit)="saveCustomer(customerForm.value)">      
      <div class="columns">
        <div class="column is-10">

            <div class="level">
              <div class="level-left ">
                <div class="level-item">
                    <span class="icon is-large">
                      <i class="fa fa-info-circle"></i>
                    </span>
                    <h3 class="level-item title is-4 is-spaced">Information</h3>
                </div>
              </div>
            </div>
        </div>
        <!-- <div class="column"></div> -->
        <div class="column">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button class="button is-medium" title="Edit" (click)="isEditing = true" [disabled]="isEditing">
                <span class="icon is-medium">
                  <i class="fa fa-pencil"></i>
                </span>
              </button>
            </p>

            <p class="control">
              <button type="submit" class="button is-success is-medium" title="Save" [disabled]="!isEditing">
                <span class="icon is-medium">
                  <i class="fa fa-floppy-o"></i>
                </span>
              </button>
            </p>

            <p class="control"> <!-- *ngIf="customerForm.dirty"> -->
              <button class="button is-warning is-medium" title="Reset" (click)="cancelEditing()" [disabled]="!isEditing">
                <span class="icon is-medium">
                  <i class="fa fa-refresh"></i>
                </span>
              </button>
            </p>
          </div>
        </div>
      </div>
    
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="First Name" formControlName="firstName" [disableControl]="!isEditing">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Last Name" formControlName="lastName" [disableControl]="!isEditing">
              <span class="icon is-small is-left">
                <i class="fa fa-user-circle"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Gender</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <p class="control has-icons-left">
                <span class="select is-fullwidth">
                    <select formControlName="sex" [disableControl]="!isEditing">
                        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                    </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-venus-mars"></i>
                </span>
            </p>
          </div>

          <div class="field is-narrow is-normal" style="padding-top: 6px">
            <div class="control">
              <label class="label">Age</label>
            </div>
          </div>

          <div class="field is-narrow">
            <p class="control has-icons-left">
                <input class="input" type="number" placeholder="Age" formControlName="age" [disableControl]="!isEditing">
                <span class="icon is-small is-left">
                  <i class="fa fa-user-secret"></i>
                </span>
            </p>
          </div>


          <div class="field is-narrow is-normal" style="padding-top: 6px">
            <div class="control">
              <label class="label">Telephone</label>
            </div>
          </div>

          <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Telephone" formControlName="telephoneNo" [disableControl]="!isEditing">
                <span class="icon is-small is-left">
                  <i class="fa fa-mobile"></i>
                </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Address</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Address" formControlName="address" [disableControl]="!isEditing">
                <span class="icon is-small is-left">
                  <i class="fa fa-map-marker"></i>
                </span>
            </p>
          </div>
          
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Remark</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="cc" formControlName="cc" [disableControl]="!isEditing">
                  <span class="icon is-small is-left">
                    <i class="fa fa-cc"></i>
                  </span>
                </p>
            </div>
            
            <div class="field">
              <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="remark" formControlName="remark" [disableControl]="!isEditing">
                  <span class="icon is-small is-left">
                    <i class="fa fa-comment-o"></i>
                  </span>
                </p>
            </div>          
        </div>
      </div>

      <!-- <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-text-right">
              <input type="submit" class="button is-primary is-medium" value="Save" [disabled]="!customerForm.valid" />
            </div>
          </div>
        </div>
      </div> -->

    </form>

    <hr />
    <customer-vision [customer]="customer"></customer-vision>
  
  </div>
</section>