<div class="hero-foot" *ngIf="(auth.currentUserObservable | async)">
	<div class="container">
		<nav class="tabs is-boxed">
		<ul>
			<!-- <li routerLinkActive="is-active"> -->
			<li class="is-active">
				<a routerLink="/customers">Customer</a>
			</li>
			<!--                    
			<li>
				<a href="http://bulma.io/documentation/modifiers/syntax">Modifiers</a>
			</li>
			<li>
				<a href="http://bulma.io/documentation/columns/basics">Columns</a>
			</li>
			-->
		</ul>
		</nav>
	</div>
</div>