<!-- <div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div class="box" >
      <p *ngFor="let item of customers | async" (click)="onSelect(item)">
          <img src="../assets/images/pin.svg">{{item.firstName + ' ' + item.lastName}}
      </p>
  </div>
</div> -->
<section class="hero is-link is-bold">

    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <!-- <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <!-- <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  Examples
                </a>
                <a class="navbar-item">
                  Documentation
                </a> -->
                <span class="navbar-item">
                  <a class="button is-link is-inverted" title="Sign Out" (click)="signOut()">
                    <span class="icon">
                      <i class="fa fa-sign-out"></i>
                    </span>
                    <span>{{auth.currentUserDisplayName}}</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
    </div>


    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Ravipanich
        </h1>
        <!-- <h2 class="subtitle">
            Primary subtitle
        </h2> -->
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <nav class="tabs is-boxed">
            <ul>
                <li routerLinkActive="is-active">
                    <a routerLink="/customers">Customer</a>
                </li>
                <!--                    
                <li>
                    <a href="http://bulma.io/documentation/modifiers/syntax">Modifiers</a>
                </li>
                <li>
                    <a href="http://bulma.io/documentation/columns/basics">Columns</a>
                </li>
                -->
            </ul>
            </nav>
        </div>
    </div>
</section>
<nav class="navbar has-shadow">
    <div class="container">
      <div class="navbar-tabs">
        <p class="navbar-item is-tab is-active">Main</p>
        <!-- <a class="navbar-item is-tab " href="http://bulma.io/documentation/layout/level/">
            Level
          </a>         -->
      </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <form (ngSubmit)="search()">
                    <div class="field has-addons has-addons-right">                        
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Search customer by first name" [formControl]="searchControl" />
                        </p>
                        <p class="control">
                            <button type="submit" class="button is-info">Search</button>
                        </p>                        
                    </div>
                </form>
            </div>
            <div class="column">
                <!-- <nav class="pagination is-centered" role="navigation" aria-label="pagination"> -->
                    <!-- <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next page</a> -->
                    <!-- <ul class="pagination-list">
                        <li *ngFor="let index of customer.visionChecks; index as i">
                            <a class="pagination-link" [class.is-current]="i==pageIndex" aria-label="Goto page i" (click)="selectVisionPage(i)">{{i + 1}}</a>
                        </li>
                    </ul>
                </nav> -->
            </div>
            <div class="column">
                <div class="level has-text-right">
                    <div class="level-left"></div>
                    <div class="level-right">
                        <!-- <p class="level-item"><strong>Sort By</strong></p>
                        <p class="level-item"><a (click)="setOrderBy('firstName')">Name</a></p>
                        <p class="level-item"><a (click)="setOrderBy('updatedAt')">Recent</a></p> -->
                        <p class="level-item">
                            <a class="button is-success" (click)="createNew()">New</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <table class="table is-fullwidth is-stripe">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Telephone No.</th>
                    <th>CC</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customers | async" (click)="onSelect(item)">
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.telephoneNo}}</td>
                    <td>{{item.cc}}</td>
                    <td>{{item.updatedAt | date: 'medium'}}</td>
                </tr>

                <tr *ngIf="customers?.length < 1">                    
                    <td colspan="5">
                      No results found
                    </td>
                </tr>
            </tbody>

        </table>

        <!-- <div class="columns">
            <div class="column is-3" *ngFor="let item of customers | async" (click)="onSelect(item)">
                <div class="box">
                    <article class="media">
                        <p class="subtitle">{{item.firstName + ' ' + item.lastName}}</p>
                    </article>
                </div>
            </div>

            <div class="column is-3">
                <div class="box">aa</div>
            </div>
            <div class="column is-3">
                <div class="box">bb</div>
            </div>

            <div class="column is-3">
                <div class="box">cc</div>
            </div>
        </div> -->
        
        <!-- <div class="tile is-ancestor">
            <div class="tile is-parent" *ngFor="let item of customers | async" (click)="onSelect(item)">
                <article class="tile is-child box">
                <p class="subtitle">{{item.firstName + ' ' + item.lastName}}</p>
                </article>
            </div>            
        </div> -->

        
    </div>
</section>