<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Ravipanich
      </h1>
      <!-- <h2 class="subtitle">
        Primary subtitle
      </h2> -->
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li class="is-active">
            <a routerLink="/customers">Customer</a>
          </li>
          <!--                    
              <li>
                  <a href="http://bulma.io/documentation/modifiers/syntax">Modifiers</a>
              </li>
              <li>
                  <a href="http://bulma.io/documentation/columns/basics">Columns</a>
              </li>
              -->
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- <div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a routerLink="/customers">Customers</a></li>
      <li class="is-active"><a href="#" aria-current="page">Details</a></li>
    </ul>
  </nav>
</div> -->
<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-tabs">
      <p class="navbar-item is-tab is-active">
        Details
      </p>
      <!-- <a class="navbar-item is-tab " href="http://bulma.io/documentation/layout/level/">
          Level
        </a>         -->
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">

    <form [formGroup]="customerForm" (ngSubmit)="saveCustomer(customerForm.value)">


      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="First Name" formControlName="firstName">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Last Name" formControlName="lastName">
              <span class="icon is-small is-left">
                <i class="fa fa-user-circle"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Gender</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <p class="control has-icons-left">
                <span class="select is-fullwidth">
                    <select formControlName="sex">
                        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                    </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-venus-mars"></i>
                </span>
            </p>
          </div>

          <div class="field is-narrow is-normal">
            <div class="control">
              <label class="label">Age</label>
            </div>
          </div>

          <div class="field is-narrow">
            <p class="control has-icons-left">
                <input class="input" type="number" placeholder="Age" formControlName="age">
                <span class="icon is-small is-left">
                  <i class="fa fa-user-secret"></i>
                </span>
            </p>
          </div>


          <div class="field is-narrow is-normal">
            <div class="control">
              <label class="label">Telephone</label>
            </div>
          </div>

          <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Telephone" formControlName="telephoneNo">
                <span class="icon is-small is-left">
                  <i class="fa fa-mobile"></i>
                </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Address</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Address" formControlName="address">
                <span class="icon is-small is-left">
                  <i class="fa fa-map-marker"></i>
                </span>
            </p>
          </div>
          
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Remark</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="cc" formControlName="cc">
                  <span class="icon is-small is-left">
                    <i class="fa fa-cc"></i>
                  </span>
                </p>
            </div>
            
            <div class="field">
              <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="remark" formControlName="remark">
                  <span class="icon is-small is-left">
                    <i class="fa fa-comment-o"></i>
                  </span>
                </p>
            </div>          
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="submit" class="button is-primary is-medium" value="Save" />
              <!-- [disabled]="!customerForm.valid"> -->
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</section>