<form [formGroup]="visionForm" (ngSubmit)="saveCustomerVision(visionForm.value)">
  <div class="columns">
      <div class="column">
        <div class="level">
            <div class="level-left ">
              <div class="level-item">
                  <span class="icon is-large">
                    <i class="fa fa-eye fa-2x"></i>
                  </span>
                  <h3 class="level-item title is-4 is-spaced">Visions</h3>
              </div>
              <div class="level-item">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                  <!-- <a class="pagination-previous">Previous</a>
                  <a class="pagination-next">Next page</a> -->
                  <ul class="pagination-list">
                    <li *ngFor="let vision of customer.visionChecks; index as i">
                      <a class="pagination-link" [class.is-current]="i==pageIndex" aria-label="Goto page i" (click)="selectVisionPage(i)" [class.disabled]="isEditing">
                        {{customer.visionChecks.length - i}}
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
        </div>
      </div>
      <!-- <div class="column"></div> -->
      <div class="column">
        <div class="field is-grouped is-grouped-right">
          
          <p class="control"> <!-- *ngIf="!isEditing"> -->
            <button type="button" class="button is-medium is-info" title="Add" (click)="addVisionCheck()" [disabled]="isEditing">
              <span class="icon is-medium">
                <i class="fa fa-plus"></i>
              </span>
            </button>
          </p>

          <p class="control"> <!-- *ngIf="!isEditing"> -->
            <button type="button" class="button is-medium" title="Edit" (click)="isEditing = true" [disabled]="isEditing">
              <span class="icon is-medium">
                <i class="fa fa-pencil"></i>
              </span>
            </button>
          </p>

          <p class="control">
            <button type="submit" class="button is-medium is-success" title="Save" [disabled]="!isEditing || !customer.id">
              <span class="icon is-medium">
                <i class="fa fa-floppy-o"></i>
              </span>
            </button>
          </p>

          <p class="control"> <!-- *ngIf="customerForm.dirty"> -->
            <button type="button" class="button is-medium is-warning" title="Reset" (click)="cancelEditing()" [disabled]="!isEditing || !customer.id">
              <span class="icon is-medium">
                <i class="fa fa-refresh"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
  </div>

  <!-- updating information -->
  <div class="columns">
    <div class="column">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <!-- https://valor-software.com/ngx-bootstrap/#/datepicker#reactive-forms -->
          <input type="text" class="input" placeholder="Check date, dd/mm/yyyy" formControlName="date"
            bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" 
            [disabled]="!isEditing">
        </div>
      
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium is-light">Checked By</span>
            <span class="tag is-medium is-info">{{vision.checkedBy}}</span>
          </div>
        </div>
      
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium is-light">Last Update</span>
            <span class="tag is-medium is-primary">{{vision.updatedAt || '' | date: 'medium'}}</span>
          </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium is-light">Updated By</span>
              <span class="tag is-medium is-primary">{{vision.updatedBy}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- <div class="columns">
    <div class="column is-5"> -->
      <!-- index: 1 - 9 -->
      <table class="table is-bordered is-narrow">
          <colgroup>
            <col>
          </colgroup>
          <colgroup span="2"></colgroup>
          <thead>
              <tr>
                  <th rowspan="2" scope="col">Eye</th>
                  <th colspan="2" rowspan="2" scope="colgroup">VASC</th>
                  <th rowspan="2" scope="col">PinH.</th>
                  <th colspan="2" scope="colgroup">PD</th>
                  <!-- <th colspan="2" scope="colgroup">Near</th> -->
              </tr>
              <tr>
                <th scope="col">Dist.</th>
                <th scope="col">Near</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th>R</th>
              <td>
                <p class="control">
                  <input class="input vision" type="text" tabindex="1" formControlName="VASC_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td rowspan="2" scope="rowgroup">
                <p class="control">
                  <input class="input vision" type="text" tabindex="3" formControlName="VASC" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="4" formControlName="PinH_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="6" formControlName="PD_Dist_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="8" formControlName="PD_Near_R" [disableControl]="!isEditing">
                </p>
              </td>
            </tr>

            <tr>
                <th>L</th>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="2" formControlName="VASC_L" [disableControl]="!isEditing">              
                  </p>
                </td>
                <!-- <td>merged row</td> -->
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="5" formControlName="PinH_L" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="7" formControlName="PD_Dist_L" [disableControl]="!isEditing">    
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="9" formControlName="PD_Near_L" [disableControl]="!isEditing">         
                  </p>
                </td>
            </tr>
          </tbody>
      </table>      
        
    <!-- </div>
    <div class="column"> -->
        <!-- Old Glasses table, index: 20 - 36 -->
        <table class="table is-bordered is-stripe">
            <colgroup>
              <col>
            </colgroup>
            <colgroup span="2"></colgroup>
            <thead>
                <tr>
                    <th rowspan="2" scope="col">OLD Rx.</th>
                    <th rowspan="2" scope="col">SPH</th>
                    <th rowspan="2" scope="col">CYL</th>
                    <th rowspan="2" scope="col">Ax</th>
                    <th rowspan="2" scope="col">ADD</th>
                    <th colspan="2" scope="colgroup">PD</th>
                    <th rowspan="2" scope="col">PH/Seg</th>
                    <th colspan="2" rowspan="2" scope="colgroup">VA</th>
                    <!-- <th colspan="2" scope="colgroup">Near</th> -->
                </tr>
                <tr>
                  <th scope="col">Dist.</th>
                  <th scope="col">Near</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th>R</th>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="20" formControlName="OG_SPH_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="22" formControlName="OG_CYL_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="24" formControlName="OG_Ax_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="26" formControlName="OG_ADD_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="28" formControlName="OG_PD_Dist_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="30" formControlName="OG_PD_Near_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="32" formControlName="OG_PH_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="34" formControlName="OG_VA_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td rowspan="2" scope="rowgroup">
                  <p class="control">
                      <input class="input vision" type="text" tabindex="36" formControlName="OG_VA" [disableControl]="!isEditing">
                  </p>
                </td>
              </tr>

              <tr>
                  <th>L</th>
                  <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="21" formControlName="OG_SPH_L" [disableControl]="!isEditing">
                      </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="23" formControlName="OG_CYL_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="25" formControlName="OG_Ax_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="27" formControlName="OG_ADD_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="29" formControlName="OG_PD_Dist_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="31" formControlName="OG_PD_Near_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="33" formControlName="OG_PH_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="35" formControlName="OG_VA_L" [disableControl]="!isEditing">
                    </p>
                  </td>
              </tr>
            </tbody>
        </table> 

    <!-- </div>
  </div> -->


  <!-- </div>
    <div class="column"> -->
        <!-- com sight table, index: 40 - 49 -->
        <table class="table is-bordered is-stripe">
          <colgroup>
            <col>
          </colgroup>
          <colgroup span="2"></colgroup>
          <thead>
              <tr>
                  <th rowspan="2" scope="col">Com</th>
                  <th rowspan="2" scope="col">SPH</th>
                  <th rowspan="2" scope="col">CYL</th>
                  <th rowspan="2" scope="col">Ax</th>
                  <!-- <th rowspan="2" scope="col">ADD</th> -->
                  <th colspan="2" scope="colgroup">PD</th>
                  <!-- <th rowspan="2" scope="col">PH/Seg</th>
                  <th colspan="2" rowspan="2" scope="colgroup">VA</th> -->
                  <!-- <th colspan="2" scope="colgroup">Near</th> -->
              </tr>
              <tr>
                <th scope="col">Dist.</th>
                <th scope="col">Near</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th>R</th>
              <td>
                <p class="control">
                  <input class="input vision" type="text" tabindex="40" formControlName="COM_SPH_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="42" formControlName="COM_CYL_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="44" formControlName="COM_Ax_R" [disableControl]="!isEditing">
                </p>
              </td>
              <!-- <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="26" formControlName="COM_ADD_R" [disableControl]="!isEditing">
                </p>
              </td> -->
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="46" formControlName="COM_PD_Dist_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                  <input class="input vision" type="text" tabindex="48" formControlName="COM_PD_Near_R" [disableControl]="!isEditing">
                </p>
              </td>
              <!-- <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="32" formControlName="OG_PH_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="34" formControlName="OG_VA_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td rowspan="2" scope="rowgroup">
                <p class="control">
                    <input class="input vision" type="text" tabindex="36" formControlName="OG_VA" [disableControl]="!isEditing">
                </p>
              </td> -->
            </tr>

            <tr>
                <th>L</th>
                <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="41" formControlName="COM_SPH_L" [disableControl]="!isEditing">
                    </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="43" formControlName="COM_CYL_L" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="45" formControlName="COM_Ax_L" [disableControl]="!isEditing">
                  </p>
                </td>
                <!-- <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="27" formControlName="COM_ADD_L" [disableControl]="!isEditing">
                  </p>
                </td> -->
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="47" formControlName="COM_PD_Dist_L" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="49" formControlName="COM_PD_Near_L" [disableControl]="!isEditing">
                  </p>
                </td>
                <!-- <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="33" formControlName="OG_PH_L" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="35" formControlName="OG_VA_L" [disableControl]="!isEditing">
                  </p>
                </td> -->
            </tr>
          </tbody>
      </table> 

  <!-- </div>
</div> -->



  <!-- <div class="columns">
    <div class="column"> -->
      <!-- Eye Sight table, index: 60 - 74 -->
        <table class="table is-bordered is-stripe">
            <colgroup>
              <col>
            </colgroup>
            <colgroup span="2"></colgroup>
            <thead>
                <tr>
                    <th scope="col">FULL</th>
                    <th scope="col">SPH</th>
                    <th scope="col">CYL</th>
                    <th scope="col">Ax</th>
                    <th colspan="2" scope="colgroup">VA Dist.</th>
                    <th scope="col">ADD</th>
                    <th scope="col">VA Near</th>
                    <th scope="col">Prism</th>               
                </tr>
            </thead>
            <tbody>
              <tr>
                <th>R</th>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="60" formControlName="ES_SPH_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="62" formControlName="ES_CYL_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="64" formControlName="ES_Ax_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="66" formControlName="ES_VA_Dist_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td rowspan="2" scope="rowgroup">
                  <p class="control">
                    <input class="input vision" type="text" tabindex="68" formControlName="ES_VA_Dist" [disableControl]="!isEditing">
                  </p>
                </td>
                
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="69" formControlName="ES_ADD_R" [disableControl]="!isEditing">
                  </p>
                </td>

                <td rowspan="2" scope="rowgroup">
                  <p class="control">
                      <input class="input vision" type="text" tabindex="71" formControlName="ES_VA_Near" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="72" formControlName="ES_Prism_R" [disableControl]="!isEditing">
                  </p>
                </td>                
              </tr>

              <tr>
                  <th>L</th>
                  <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="61" formControlName="ES_SPH_L" [disableControl]="!isEditing">
                      </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="63" formControlName="ES_CYL_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="65" formControlName="ES_Ax_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="67" formControlName="ES_VA_Dist_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="70" formControlName="ES_ADD_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="73" formControlName="ES_Prism_L" [disableControl]="!isEditing">
                    </p>
                  </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Remark</th>                
                <td colspan="8">
                  <p class="control">
                      <input class="input vision" type="text" tabindex="74" formControlName="ES_Remark" [disableControl]="!isEditing">
                  </p>
                </td>
              </tr>
            </tfoot>
        </table> 

    <!-- </div>
  </div>

  <div class="columns">
      <div class="column"> -->
        <!-- New Glasses table, index: 80 - 95 -->
          <table class="table is-bordered is-stripe">
              <colgroup>
                <col>
              </colgroup>
              <colgroup span="2"></colgroup>
              <thead>
                  <tr>
                      <th rowspan="2" scope="col">Rx</th>
                      <th rowspan="2" scope="col">SPH</th>
                      <th rowspan="2" scope="col">CYL</th>
                      <th rowspan="2" scope="col">Ax</th>
                      <th rowspan="2" scope="col">VA</th>
                      <th rowspan="2" scope="col">ADD</th>
                      <th colspan="2" scope="colgroup">PD</th>                      
                      <th rowspan="2" scope="col">PH/Seg</th>           
                  </tr>
                  <tr>
                      <th>Dist.</th>
                      <th>Near</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <th>R</th>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="80" formControlName="NG_SPH_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="82" formControlName="NG_CYL_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="84" formControlName="NG_Ax_R" [disableControl]="!isEditing">
                    </p>
                  </td>                  
                  <td rowspan="2" scope="rowgroup">
                    <p class="control">
                      <input class="input vision" type="text" tabindex="86" formControlName="NG_VA" [disableControl]="!isEditing">
                    </p>
                  </td>
                  
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="87" formControlName="NG_ADD_R" [disableControl]="!isEditing">
                    </p>
                  </td>
  
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="89" formControlName="NG_PD_Dist_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="91" formControlName="NG_PD_Near_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="93" formControlName="NG_PH_R" [disableControl]="!isEditing">
                    </p>
                  </td>                  
                </tr>
  
                <tr>
                    <th>L</th>
                    <td>
                        <p class="control">
                          <input class="input vision" type="text" tabindex="81" formControlName="NG_SPH_L" [disableControl]="!isEditing">
                        </p>
                    </td>
                    <td>
                      <p class="control">
                          <input class="input vision" type="text" tabindex="83" formControlName="NG_CYL_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="85" formControlName="NG_Ax_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="88" formControlName="NG_ADD_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                          <input class="input vision" type="text" tabindex="90" formControlName="NG_PD_Dist_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                          <input class="input vision" type="text" tabindex="92" formControlName="NG_PD_Near_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="94" formControlName="NG_PH_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Remark</th>                
                  <td colspan="8">
                    <p class="control">
                        <input class="input vision" type="text" tabindex="95" formControlName="NG_Remark" [disableControl]="!isEditing">
                    </p>
                  </td>
                </tr>
              </tfoot>
          </table> 
  
      <!-- </div>
    </div> -->

  <!-- index: 100 - 108 -->
  <table class="table is-bordered is-stripe">
      <colgroup>
        <col>
      </colgroup>
      <thead>
          <tr>
              <th scope="col">CL</th>
              <th scope="col">SPH</th>
              <th scope="col">CYL</th>
              <th scope="col">Ax</th>
              <th scope="col">BC</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th>R</th>
          <td>
            <p class="control">
              <input class="input vision" type="text" tabindex="100" formControlName="CL_SPH_R" [disableControl]="!isEditing">
            </p>
          </td>
          <td>
            <p class="control">
                <input class="input vision" type="text" tabindex="102" formControlName="CL_CYL_R" [disableControl]="!isEditing">
            </p>
          </td>
          <td>
            <p class="control">
                <input class="input vision" type="text" tabindex="104" formControlName="CL_Ax_R" [disableControl]="!isEditing">
            </p>
          </td>
          <td>
            <p class="control">
                <input class="input vision" type="text" tabindex="106" formControlName="CL_BC_R" [disableControl]="!isEditing">
            </p>
          </td>
        </tr>

        <tr>
            <th>L</th>
            <td>
              <p class="control">
                <input class="input vision" type="text" tabindex="101" formControlName="CL_SPH_L" [disableControl]="!isEditing">
              </p>
            </td>
            <td>
              <p class="control">
                  <input class="input vision" type="text" tabindex="103" formControlName="CL_CYL_L" [disableControl]="!isEditing">
              </p>
            </td>
            <td>
              <p class="control">
                  <input class="input vision" type="text" tabindex="105" formControlName="CL_Ax_L" [disableControl]="!isEditing">
              </p>
            </td>
            <td>
              <p class="control">
                  <input class="input vision" type="text" tabindex="107" formControlName="CL_BC_L" [disableControl]="!isEditing">
              </p>
            </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Remark</th>                
          <td colspan="4">
            <p class="control">
              <input class="input vision" type="text" tabindex="108" formControlName="CL_Remark" [disableControl]="!isEditing">
            </p>
          </td>
        </tr>
      </tfoot>
    </table>

    <!-- <footer class="footer">
      <div class="container"> -->
        <div class="box">
          <div class="columns">
            <div class="column field">
              <label class="label">Glasses</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Model" tabindex="110" formControlName="glassesName" [disableControl]="!isEditing">
                  </div>
                </div>
              </div>
            </div>

            <div class="column field">
              <label class="label">Brand</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Brand" tabindex="111" formControlName="glassesBrand" [disableControl]="!isEditing">
                  </div>
                </div>
              </div>
            </div>

            <div class="column field">
              <label class="label">Price</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Price" tabindex="112" formControlName="glassesPrice" [disableControl]="!isEditing">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="columns">
            <div class="column field">
              <label class="label">Lens</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Type" tabindex="120" formControlName="lensName" [disableControl]="!isEditing">
                  </div>
                </div>
              </div>
            </div>

            <div class="column field">
              <label class="label">Brand</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Brand" tabindex="121" formControlName="lensBrand" [disableControl]="!isEditing">
                  </div>
                </div>
              </div>
            </div>

            <div class="column field">
              <label class="label">Price</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Price" tabindex="122" formControlName="lensPrice" [disableControl]="!isEditing">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="field">
            <label class="label">Others</label>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="Other information" tabindex="130" formControlName="others" [disableControl]="!isEditing">
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div>
    </footer> -->
</form>
