<form [formGroup]="visionForm" (ngSubmit)="saveCustomerVision(visionForm.value)">
  <div class="columns">
      <div class="column is-9">
        <div class="level">
            <div class="level-left ">
              <div class="level-item">
                  <span class="icon is-large">
                    <i class="fa fa-eye fa-2x"></i>
                  </span>
                  <h3 class="level-item title is-4 is-spaced">Visions</h3>
              </div>
              <div class="level-item">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                  <!-- <a class="pagination-previous">Previous</a>
                  <a class="pagination-next">Next page</a> -->
                  <ul class="pagination-list">
                    <li *ngFor="let vision of customer.visionChecks; index as i">
                      <a class="pagination-link" [class.is-current]="i==pageIndex" aria-label="Goto page i" (click)="selectVisionPage(i)">{{customer.visionChecks.length - i}}</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
        </div>
      </div>
      <!-- <div class="column"></div> -->
      <div class="column">
        <div class="field is-grouped is-grouped-right">
          <p class="control"> <!-- *ngIf="!isEditing"> -->
            <button type="button" class="button is-medium is-info" title="Add" (click)="addVisionCheck()" [disabled]="isEditing">
              <span class="icon is-medium">
                <i class="fa fa-plus"></i>
              </span>
            </button>
          </p>

          <p class="control"> <!-- *ngIf="!isEditing"> -->
            <button type="button" class="button is-medium" title="Edit" (click)="isEditing = true" [disabled]="isEditing">
              <span class="icon is-medium">
                <i class="fa fa-pencil"></i>
              </span>
            </button>
          </p>

          <p class="control">
            <button type="submit" class="button is-medium is-success" title="Save" [disabled]="!isEditing">
              <span class="icon is-medium">
                <i class="fa fa-floppy-o"></i>
              </span>
            </button>
          </p>

          <p class="control"> <!-- *ngIf="customerForm.dirty"> -->
            <button type="button" class="button is-medium is-warning" title="Reset" (click)="cancelEditing()" [disabled]="!isEditing">
              <span class="icon is-medium">
                <i class="fa fa-refresh"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
  </div>

  <!-- updating information -->
  <div class="columns">
    <div class="column">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium is-light">Checked At</span>
            <span class="tag is-medium is-info">{{vision.checkedAt || '' | date: 'medium'}}</span>
          </div>
        </div>
      
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium is-light">Checked By</span>
            <span class="tag is-medium is-info">{{vision.checkedBy}}</span>
          </div>
        </div>
      
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium is-light">Last Update</span>
            <span class="tag is-medium is-primary">{{vision.updatedAt || '' | date: 'medium'}}</span>
          </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
              <span class="tag is-medium is-light">Updated By</span>
              <span class="tag is-medium is-primary">{{vision.updatedBy}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-5">
        
      <table class="table is-bordered is-stripe">
          <colgroup>
            <col>
          </colgroup>
          <colgroup span="2"></colgroup>
          <thead>
              <tr>
                  <th rowspan="2" scope="col">Eye</th>
                  <th colspan="2" rowspan="2" scope="colgroup">VASC</th>
                  <th rowspan="2" scope="col">PinH.</th>
                  <th colspan="2" scope="colgroup">PD</th>
                  <!-- <th colspan="2" scope="colgroup">Near</th> -->
              </tr>
              <tr>
                <th scope="col">Dist.</th>
                <th scope="col">Near</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th>R</th>
              <td>
                <p class="control">
                  <input class="input vision" type="text" tabindex="1" formControlName="VASC_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td rowspan="2" scope="rowgroup">
                <p class="control">
                  <input class="input vision" type="text" tabindex="3" formControlName="VASC" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="4" formControlName="PinH_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="6" formControlName="PD_Dist_R" [disableControl]="!isEditing">
                </p>
              </td>
              <td>
                <p class="control">
                    <input class="input vision" type="text" tabindex="8" formControlName="PD_Near_R" [disableControl]="!isEditing">
                </p>
              </td>
            </tr>

            <tr>
                <th>L</th>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="2" formControlName="VASC_L" [disableControl]="!isEditing">              
                  </p>
                </td>
                <!-- <td>merged row</td> -->
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="5" formControlName="PinH_L" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="7" formControlName="PD_Dist_L" [disableControl]="!isEditing">    
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="9" formControlName="PD_Near_L" [disableControl]="!isEditing">         
                  </p>
                </td>
            </tr>
          </tbody>
      </table>      
        
    </div>
    <div class="column">
        <!-- Old Glasses table -->
        <table class="table is-bordered is-stripe">
            <colgroup>
              <col>
            </colgroup>
            <colgroup span="2"></colgroup>
            <thead>
                <tr>
                    <th rowspan="2" scope="col">OLD Rx.</th>
                    <th rowspan="2" scope="col">SPH</th>
                    <th rowspan="2" scope="col">CYL</th>
                    <th rowspan="2" scope="col">Ax</th>
                    <th colspan="2" scope="colgroup">PD</th>
                    <th rowspan="2" scope="col">PH/Seg</th>
                    <th colspan="2" rowspan="2" scope="colgroup">VA</th>
                    <!-- <th colspan="2" scope="colgroup">Near</th> -->
                </tr>
                <tr>
                  <th scope="col">Dist.</th>
                  <th scope="col">Near</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th>R</th>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="10" formControlName="OG_SPH_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="12" formControlName="OG_CYL_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="14" formControlName="OG_Ax_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="16" formControlName="OG_PD_Dist_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="18" formControlName="OG_PD_Near_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="20" formControlName="OG_PH_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="22" formControlName="OG_VA_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td rowspan="2" scope="rowgroup">
                  <p class="control">
                      <input class="input vision" type="text" tabindex="24" formControlName="OG_VA" [disableControl]="!isEditing">
                  </p>
                </td>
              </tr>

              <tr>
                  <th>L</th>
                  <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="11" formControlName="OG_SPH_L" [disableControl]="!isEditing">
                      </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="13" formControlName="OG_CYL_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="15" formControlName="OG_Ax_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="17" formControlName="OG_PD_Dist_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="19" formControlName="OG_PD_Near_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="21" formControlName="OG_PH_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="23" formControlName="OG_VA_L" [disableControl]="!isEditing">
                    </p>
                  </td>
              </tr>
            </tbody>
        </table> 

    </div>
  </div>

  <!-- <div class="columns">
    <div class="column"> -->
      <!-- Eye Sight table -->
        <table class="table is-bordered is-stripe">
            <colgroup>
              <col>
            </colgroup>
            <colgroup span="2"></colgroup>
            <thead>
                <tr>
                    <th scope="col">FULL</th>
                    <th scope="col">SPH</th>
                    <th scope="col">CYL</th>
                    <th scope="col">Ax</th>
                    <th colspan="2" scope="colgroup">VA Dist.</th>
                    <th scope="col">ADD</th>
                    <th scope="col">VA Near</th>
                    <th scope="col">Prism</th>
                    <th scope="col">Remark</th>                    
                </tr>
            </thead>
            <tbody>
              <tr>
                <th>R</th>
                <td>
                  <p class="control">
                    <input class="input vision" type="text" tabindex="25" formControlName="ES_SPH_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="27" formControlName="ES_CYL_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="29" formControlName="ES_Ax_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="31" formControlName="ES_VA_Dist_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td rowspan="2" scope="rowgroup">
                  <p class="control">
                    <input class="input vision" type="text" tabindex="33" formControlName="ES_VA_Dist" [disableControl]="!isEditing">
                  </p>
                </td>
                
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="34" formControlName="ES_ADD_R" [disableControl]="!isEditing">
                  </p>
                </td>

                <td rowspan="2" scope="rowgroup">
                  <p class="control">
                      <input class="input vision" type="text" tabindex="36" formControlName="ES_VA_Near" [disableControl]="!isEditing">
                  </p>
                </td>
                <td>
                  <p class="control">
                      <input class="input vision" type="text" tabindex="37" formControlName="ES_Prism_R" [disableControl]="!isEditing">
                  </p>
                </td>
                <td rowspan="2" scope="rowgroup">
                  <p class="control">
                      <input class="input vision" type="text" tabindex="39" formControlName="ES_Remark" [disableControl]="!isEditing">
                  </p>
                </td>
                
              </tr>

              <tr>
                  <th>L</th>
                  <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="26" formControlName="ES_SPH_L" [disableControl]="!isEditing">
                      </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="28" formControlName="ES_CYL_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="30" formControlName="ES_Ax_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="32" formControlName="ES_VA_Dist_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="35" formControlName="ES_ADD_L" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="38" formControlName="ES_Prism_L" [disableControl]="!isEditing">
                    </p>
                  </td>
              </tr>
            </tbody>
        </table> 

    <!-- </div>
  </div>

  <div class="columns">
      <div class="column"> -->
        <!-- New Glasses table -->
          <table class="table is-bordered is-stripe">
              <colgroup>
                <col>
              </colgroup>
              <colgroup span="2"></colgroup>
              <thead>
                  <tr>
                      <th rowspan="2" scope="col">Rx</th>
                      <th rowspan="2" scope="col">SPH</th>
                      <th rowspan="2" scope="col">CYL</th>
                      <th rowspan="2" scope="col">Ax</th>
                      <th rowspan="2" scope="col">VA</th>
                      <th rowspan="2" scope="col">ADD</th>
                      <th colspan="2" scope="colgroup">PD</th>                      
                      <th rowspan="2" scope="col">PH/Seg</th>
                      <th rowspan="2" scope="col">Remark</th>                    
                  </tr>
                  <tr>
                      <th>Dist.</th>
                      <th>Near</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <th>R</th>
                  <td>
                    <p class="control">
                      <input class="input vision" type="text" tabindex="40" formControlName="NG_SPH_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="42" formControlName="NG_CYL_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="44" formControlName="NG_Ax_R" [disableControl]="!isEditing">
                    </p>
                  </td>                  
                  <td rowspan="2" scope="rowgroup">
                    <p class="control">
                      <input class="input vision" type="text" tabindex="46" formControlName="NG_VA" [disableControl]="!isEditing">
                    </p>
                  </td>
                  
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="47" formControlName="NG_ADD_R" [disableControl]="!isEditing">
                    </p>
                  </td>
  
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="49" formControlName="NG_PD_Dist_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="51" formControlName="NG_PD_Near_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td>
                    <p class="control">
                        <input class="input vision" type="text" tabindex="53" formControlName="NG_PH_R" [disableControl]="!isEditing">
                    </p>
                  </td>
                  <td rowspan="2" scope="rowgroup">
                    <p class="control">
                        <input class="input vision" type="text" tabindex="55" formControlName="NG_Remark" [disableControl]="!isEditing">
                    </p>
                  </td>
                  
                </tr>
  
                <tr>
                    <th>L</th>
                    <td>
                        <p class="control">
                          <input class="input vision" type="text" tabindex="41" formControlName="NG_SPH_L" [disableControl]="!isEditing">
                        </p>
                    </td>
                    <td>
                      <p class="control">
                          <input class="input vision" type="text" tabindex="43" formControlName="NG_CYL_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="45" formControlName="NG_Ax_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="48" formControlName="NG_ADD_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                          <input class="input vision" type="text" tabindex="50" formControlName="NG_PD_Dist_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                          <input class="input vision" type="text" tabindex="52" formControlName="NG_PD_Near_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                    <td>
                      <p class="control">
                        <input class="input vision" type="text" tabindex="54" formControlName="NG_PH_L" [disableControl]="!isEditing">
                      </p>
                    </td>
                </tr>
              </tbody>
          </table> 
  
      <!-- </div>
    </div> -->

  <table class="table is-bordered is-stripe">
      <colgroup>
        <col>
      </colgroup>
      <thead>
          <tr>
              <th scope="col">CL</th>
              <th scope="col">SPH</th>
              <th scope="col">CYL</th>
              <th scope="col">Ax</th>
              <th scope="col">BC</th>
              <th scope="col">Remark</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th>R</th>
          <td>
            <p class="control">
              <input class="input vision" type="text" tabindex="56" formControlName="CL_SPH_R" [disableControl]="!isEditing">
            </p>
          </td>
          <td>
            <p class="control">
                <input class="input vision" type="text" tabindex="58" formControlName="CL_CYL_R" [disableControl]="!isEditing">
            </p>
          </td>
          <td>
            <p class="control">
                <input class="input vision" type="text" tabindex="60" formControlName="CL_Ax_R" [disableControl]="!isEditing">
            </p>
          </td>
          <td>
            <p class="control">
                <input class="input vision" type="text" tabindex="62" formControlName="CL_BC_R" [disableControl]="!isEditing">
            </p>
          </td>          
          <td rowspan="2" scope="rowgroup">
            <p class="control">
              <input class="input vision" type="text" tabindex="64" formControlName="CL_Remark" [disableControl]="!isEditing">
            </p>
          </td>
        </tr>

        <tr>
            <th>L</th>
            <td>
              <p class="control">
                <input class="input vision" type="text" tabindex="57" formControlName="CL_SPH_L" [disableControl]="!isEditing">
              </p>
            </td>
            <td>
              <p class="control">
                  <input class="input vision" type="text" tabindex="59" formControlName="CL_CYL_L" [disableControl]="!isEditing">
              </p>
            </td>
            <td>
              <p class="control">
                  <input class="input vision" type="text" tabindex="61" formControlName="CL_Ax_L" [disableControl]="!isEditing">
              </p>
            </td>
            <td>
              <p class="control">
                  <input class="input vision" type="text" tabindex="63" formControlName="CL_BC_L" [disableControl]="!isEditing">
              </p>
            </td>
        </tr>
      </tbody>
    </table>

</form>
